
.form-checkboxes-noscroll {
  border: 1px solid #666666;
}

/* CSS for jquery_ui.tabs */
.ui-tabs-nav .ui-tabs-hide {
     display: none;
}


ul.even-better-select-tabs {
  margin: 5px 0 0;
}

ul.even-better-select-tabs li {
  margin: 0 3px 0 0;
  padding: 0;
  display: block;
  float: left;
  list-style-type: none;
  background: none;
  border: 1px solid #999999;
  border-bottom: none;
}

ul.even-better-select-tabs li a {
  padding: 3px 10px 0;
  display: block;
  text-decoration: none;
}

ul.even-better-select-tabs li a:link,
ul.even-better-select-tabs li a:visited,
ul.even-better-select-tabs li a:hover,
ul.even-better-select-tabs li a:active {
  color: #000000;
  text-decoration: none;
  border: none;
}

.better-select div.form-checkboxes {
  clear: left;
}

.ui-tabs-panel {
  border: 1px solid #999999;
}

ul.even-better-select-tabs li.ui-tabs-selected {
  background: #E0E0E0;
}

.better-select div.form-checkboxes .even-better-select-group-root-wrapper {
  float: left;
  width: 48%; /* Use slightly less than half in case of buggy browsers */
}

.better-select .tab {
  background:#E0E0E0 none repeat scroll 0 0
}

.better-select .tab .children {
  background:#FFFFFF none repeat scroll 0 0
}

.better-select .tab .form-checkboxes-scroll {
  border: 0px;
  border-top: 1px solid #666666;
}

